<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuyh.nms.modules.sys.dao.UserMapper">
  <resultMap id="UserResult" type="com.xuyh.nms.modules.sys.entity.User">
    <id property="id" column="id"/>
    <result property="company" column="company_id"/>
    <result property="office" column="office_id"/>
    <result property="loginName" column="login_name"/>
    <result property="password" column="password"/>
    <result property="no" column="no"/>
    <result property="name" column="name"/>
    <result property="email" column="email"/>
    <result property="phone" column="phone"/>
    <result property="mobile" column="mobile"/>
    <result property="userType" column="user_type"/>
    <result property="photo" column="photo"/>
    <result property="loginIp" column="login_ip"/>
    <result property="loginDate" column="login_date"/>
    <result property="loginFlag" column="login_flag"/>
    <result property="createBy" column="create_by"/>
    <result property="createDate" column="create_date"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateDate" column="update_date"/>
    <result property="remarks" column="remarks"/>
    <result property="defFlag" column="del_flag"/>
  </resultMap>

  <sql id="Base_Column_List">
      id,company_id,office_id,login_name,password,no,name,email,phone
  </sql>

  <select id="findUserByName" resultMap="UserResult" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from sys_user
    where login_name = #{loginName}
  </select>
</mapper>